<div class="container mt-5">
  <form action="/add" method="post">
    <div class="row">
      <div class="col-8 offset-2">
        <h1 class="mb-5 fw-bold text-danger text-center">Form tambah Data Products <i class="bi bi-balloon-heart"></i></h1>
        <a href="/detail">Lihat semua data </a>
        <br>
        <label for="judul_buku" class="form-label mt-3">Masukkan Judul Buku</label>
        <input type="text" name="judul_buku" class="form-control" style="background-color:pink;color:white;" style="background-color:pink;color:white;" >
        <label for="penulis" class="form-label mt-3">Masukkan Penulis Buku</label>
        <input type="text" name="penulis" class="form-control" style="background-color:pink;color:white;" >
        <label for="genre" class="form-label mt-3">Masukkan Genre Buku</label>
        <input type="text" name="genre" class="form-control" style="background-color:pink;color:white;">
        <label for="jenis_buku" class="form-label mt-3">Masukkan Jenis Buku</label>
        <input type="text" name="jenis_buku" class="form-control" style="background-color:pink;color:white;">
        <label for="penerbit" class="form-label mt-3">Masukkan Penerbit Buku</label>
        <input type="text" name="penerbit" class="form-control" style="background-color:pink;color:white;">
        <button class="btn btn-danger mt-4 text-center">Kirim Data !</button>
      </div>
    </div>
  </form>
</div>
